.newcontents
  .newcontents-header
    Profile
  .newcontents-container
    .newcontents-container-left
      .newcontents-container-left_one
        サンプル
      .newcontents-container-left_two
        = link_to "#", class: "contents__btn" do
          = icon('fab', 'github')
      .newcontents-container-left_three
        Explanation note
    .newcontents-container-right
      .newcontents-container-right_one
        サンプル
      .newcontents-container-right_two
        = link_to "#", class: "contents__btn" do
          = icon('fab', 'github')
      .newcontents-container-right_three
        Explanation note
  .newcontents-footer
    %p
      %a.btn.btn-black{href: "/pages", role: "button"} TOP PAGE