.newcontents
  .newcontents-header
    Apps Development
  .newcontents-container
    .newcontents-container-left
      .newcontents-container-left_one
        Chat-space
      .newcontents-container-left_two
        = link_to "https://github.com/omatsu71/chat-space", class: "contents__btn" do
          = icon('fab', 'github')
      .newcontents-container-left_three
        Explanation note
    .newcontents-container-right
      .newcontents-container-right_one
        Freemarket-clone_site
      .newcontents-container-right_two
        = link_to "https://github.com/omatsu71/freemarket_sample_32b-1", class: "contents__btn" do
          = icon('fab', 'github')
      .newcontents-container-right_three
        Explanation note
  .newcontents-footer
    %p
      %a.btn.btn-black{href: "/pages", role: "button"} TOP PAGE