h1 {
  font-size: 45px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}
h4 {
  font-size: 15px;
  margin: 4px;
  text-align: left;
  font-family: 'Playfair Display', serif;
}
h5 {
  font-size: 15px;
  margin: 4px;
  text-align: left;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

// index
.jumbotron-extend {
  position: relative;
  height: 100vh;
  min-height: 300px;
  background: url("/photo/dry2.jpg") no-repeat center center;
  background-size: cover;
  margin-bottom: 0px;
}
.jumbotron-container {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}
.site-name {
  margin-bottom: 40px;
  font-family: 'Playfair Display', serif;
}
.btn-black {
  border-radius: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Avenir', serif;
}
.btn-black:hover {
   background-color: #fff;
   color: #000;
}
.sns-button {
  position: absolute;
  bottom: 32px;
  left: 46px;
  a {
    color: black;
    font-size: 25px;
    padding: 5px;
    font-family: 'Playfair Display', serif;
  }
}

// show
.showcontents {
  background-color: #f2f2f2;
  height: 100vh;
  .header {
    background-color: #f2f2f2;
    height: 100px;
    padding: 40px 40px 10px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 50px;
  }
  .container {
    display: flex;
    padding: 20px;
    height: calc(100vh - 200px);
    text-align: center;
    .container-left,.container-center,.container-right {
      background-color: white;
      margin: 50px;
      width: 300px;
      padding: 20px;
      .container-left_one,.container-center_one,.container-right_one {
        height: 100px;
        font-size: 30px;
        font-family: 'Playfair Display', serif;
        padding: 10px 10px 30px;
      }
      .container-left_two,.container-center_two,.container-right_two {
        height: 100px;
        font-size: 50px;
        padding: 10px;
        i {
          padding: 30px 0px;
          color: black;
        }
      }
      .container-left_three,.container-center_three,.container-right_three {
      #overlay,#overlay02,#overlay03 {
        /* viewpointを相対位置にし、全画面表示にする */
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);  /* 背景を半透明にする */
        display: none;  /* HTML要素を非表示にする */
        z-index: 1  /* 「メインのHTML要素」よりもスタックレベルを高くする */
       }
      
      #modalWindow,#modalWindow02,#modalWindow03 {
        padding: 10px;
        width: 1000px;
        height: 600px;
        position: fixed; /* viewpointを相対位置にする */
        border: 2px solid #D04255;
        background-color: #FFF;
        display: none; 
        z-index: 2  /* 「オーバーレのHTML要素」よりもスタックレベルを高くする */
      }
      
      body {
        text-align: center;
      }
      img{
        width: 600px;
        height: 200px;
      }
      button {
        width: 100px;
        height: 50px;
        font-size: 1.2em;
        color: #D04255;
        background-color: #FFF;
        border: solid 2px #D04255;
        border-radius: 3px;
        transition: .4s;
      }
      
      button:hover {
        background: #D04255;
        color: #FFF;
      }
    }
  }
  }
  .footer{
    background-color: #f2f2f2;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    padding: 20px;
    text-align: center;
  }
}


// new
.newcontents {
  background-color: #f2f2f2;
  height: 100vh;
  .newcontents-header {
    background-color: #f2f2f2;
    height: 100px;
    padding: 40px 40px 10px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 50px;
  }
  .newcontents-container {
    display: flex;
    padding: 20px;
    height: calc(100vh - 200px);
    text-align: center;
    justify-content: center;
    .newcontents-container-left,.newcontents-container-center,.newcontents-container-right {
      background-color: white;
      margin: 50px;
      width: 300px;
      padding: 20px;
      .newcontents-container-left_one,.newcontents-container-center_one,.newcontents-container-right_one {
        height: 100px;
        font-size: 30px;
        font-family: 'Playfair Display', serif;
        padding: 10px 10px 30px;
      }
      .newcontents-container-left_two,.newcontents-container-center_two,.newcontents-container-right_two {
        height: 100px;
        font-size: 50px;
        padding: 10px;
        i {
          padding: 30px 0px;
          color: black;
        }
      }
      .newcontents-container-left_three,.newcontents-container-center_three,.newcontents-container-right_three {
        #overlay,#overlay02,#overlay03 {
          /* viewpointを相対位置にし、全画面表示にする */
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.3);  /* 背景を半透明にする */
          display: none;  /* HTML要素を非表示にする */
          z-index: 1  /* 「メインのHTML要素」よりもスタックレベルを高くする */
         }
        
        #modalWindow,#modalWindow02,#modalWindow03 {
          width: 1000px;
          height: 600px;
          position: fixed; /* viewpointを相対位置にする */
          border: 2px solid #D04255;
          background-color: #FFF;
          display: none; 
          z-index: 2  /* 「オーバーレのHTML要素」よりもスタックレベルを高くする */
        }
        
        body {
          text-align: center;
        }
        
        button {
          width: 100px;
          height: 50px;
          font-size: 1.2em;
          color: #D04255;
          background-color: #FFF;
          border: solid 2px #D04255;
          border-radius: 3px;
          transition: .4s;
        }
        
        button:hover {
          background: #D04255;
          color: #FFF;
        }

      }
    }
  }
  .newcontents-footer{
    background-color: #f2f2f2;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    padding: 20px;
    text-align: center;
  }
}